.waiter_form {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 30%;
    min-height: 50px;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 1px 2px #333;
}
.waiter_label {
    align-self: center;
    font-size: 20px;
    margin-bottom: 3px;
}
.waiter_input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
    outline: none;
}
.waiter_error {
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    color: #f00;
    margin-bottom: 10px;
}
.btn-width {
    align-self: center;
}